<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a madlib and stuff</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>fill in the blanks to complete a madlib</h1>
    <form action="/madlibs" method="post">
     <label for="fieldOne">Name</label>
     <input id="fieldOne" name="fieldOne" type="text">
     <label for="fieldTwo">Field Two</label>
     <input id="fieldTwo" name="fieldTwo" type="text">
      <label for="fieldThree">Field Three</label>
     <input id="fieldThree" name="fieldThree" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>